/* src/App.css */

body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  width: 100%;
}

main {
  flex-grow: 1;
  margin-top: 64px; /* Adjust based on the height of your AppBar */
  padding-bottom: 64px; /* Adjust based on the height of your Footer AppBar */
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 64px; /* Adjust based on the height of your Footer AppBar */
}

.tab-hover:hover {
  cursor: pointer;
}

